<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{{ peer.print|escape }}</title>
<style>
table {white-space: nowrap; width: 100%; border-spacing: 4px; border-collapse: separate}
td {padding: 0; vertical-align: baseline; word-wrap: break-word; word-break: break-all}
.a, .a:hover, .a:active, .a:focus, .a:visited {color: inherit}
.r {text-align: right}
.t {width: 100%; white-space: normal}
img, video, audio {border: 0; vertical-align: text-top}
img {max-width: 400px; max-height: 300px}
.sticker {max-width: 192px; max-height: 192px}
:target {background-color: #ffa}
</style>
</head>
<body>
<table>
<thead><tr><th>Time</th><th>From</th><th>Message</th></tr></thead>
<tbody>
{% for msg in msgs -%}
<tr id="m{{ msg.mid }}">
<td class="r"><a href="#m{{ msg.mid }}" class="a">{{ msg.date|strftime('%Y-%m-%d %H:%M:%S') }}</a></td>
<td class="r" title="{{ msg.src.print|escape }}">{{ msg.src|smartname|escape }}:</td>
<td class="t">{% if msg.msgtype == 'fwd' -%}
    <i><b>Fwd</b> {{ msg.extra.fwd_src|smartname|escape }}:</i>
{%- elif msg.msgtype == 're' -%}
    <i><a href="#m{{ msg.extra.reply.mid }}">{{ msg.extra.reply.src|smartname|escape }}</a>:</i>
{%- endif %}
{% if msg.text -%}
    {{ msg.text|escape|autolink|replace("\n", "<br>") }}
{%- endif %}
{% if msg.media -%}
    {% if msg.media.url -%}
        {% if msg.media.type == 'photo' -%}
            {% if msg.text or msg.msgtype %}<br>
            {%- endif %}<a href="{{ msg.media.url }}"><img src="{{ msg.media.url }}"></a>
        {%- elif msg.media.type == 'sticker' -%}
            {% if msg.msgtype %}<br>
            {%- endif %}<img class="sticker" src="{{ msg.media.url }}">
        {%- elif msg.media.type in ('audio', 'voice') -%}
            {% if msg.msgtype %}<br>
            {%- endif %}<audio src="{{ msg.media.url }}" controls><i>[<a href="{{ msg.media.url }}">{{ msg.media.type }}</a>]</i></audio>
        {%- elif msg.media.type == 'video' -%}
            {% if msg.msgtype %}<br>
            {%- endif %}<video src="{{ msg.media.url }}" controls><i>[<a href="{{ msg.media.url }}">{{ msg.media.type }}</a>]</i></video>
        {%- elif msg.media.type == 'document' -%}
            <i>[{% if msg.media.file_name %}{{ msg.media.file_name|escape }}, {% endif %}{% if msg.media.file_size %}{{ msg.media.file_size|d(0)|filesizeformat }}, {% endif %}{{ msg.media.mime_type|d('application/octet-stream') }}]</i> {% if msg.media.url|isimg %}<br><a href="{{ msg.media.url }}"><img src="{{ msg.media.url }}"></a>{% else %}<a href="{{ msg.media.url }}">{{ msg.media.file_name|d('file')|escape }}</a>{% endif %}
        {%- else -%}
            <i>[{{ msg.media.type }}]</i>
        {%- endif %}
    {%- elif msg.media.type in ('contact', 'geo', 'location') -%}
        <i>[{{ msg.media|string|escape }}]</i>
    {%- elif '_ircuser' in msg.media -%}
        <i>[IRC]</i>
    {%- else %}
        <i>[{{ msg.media.type }}]</i>
    {%- endif %}
{%- endif %}{% if msg.service -%}
    <i>[{{ msg.action.type }}]</i>
    {% if msg.action.type in ('chat_created', 'chat_rename') -%}
        <b>{{ msg.action.title|escape|autolink }}</b>
    {%- elif msg.action.type in ('chat_add_user', 'chat_del_user') -%}
        <b>{{ msg.action.user.print }}</b>
    {%- endif %}
{%- endif %}</td>
</tr>
{%- endfor %}
</tbody>
</body>
</html>

